@require 'deepgarden'
@require '../input.styl'

._FileInput
	text-align: center

	&__Input
		display: none

	&__Image
		display: flex
		justify-content: space-between;

	&__DropZone
		width: 100%
		border: 1px dashed
		margin-bottom: 20px

		&--isHighlight
			color: $palette.accent.color
